{% if id %}
  <figure class="youtube {% if position %}{{ position }}{% else -%} center {%- endif %}" >
    <iframe
      src="https://www.youtube.com/embed/{{id}}?autoplay=0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen>
    </iframe>
    {% if caption %}
      <figcaption class="{% if caption_position %}{{ caption_position }}{% else -%} center {%- endif %}"{% if caption_style %} style="{{ caption_style | safe }}"{% endif %}>{{ caption }}</figcaption>
    {% endif %}
  </figure>
{% endif %}